<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container">
    <h1>MyTube App</h1>
    <p>このサイトはYouTubeの動画から自分好みのプレイリストを作成するためのアプリケーションです。</p>
    <%#= link_to "はじめる", signup_path, class: "btn btn-info btn-lg" %>
  </div>
</div>