<header>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top navbar-extend">
    <a class="navbar-brand" herf="#">
      <div class="navbar-brand-extend">
      </div>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link"><button class="btn btn-info btn-md">Home</button></a></li>
        <li class="nav-item"><a href="/help" class="nav-link"><button class="btn btn-info btn-md">Help</button></a></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <!-- 切替ボタンの設定 -->
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
              <!-- ドロップメニューの設定 -->
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="users/sign_out">Logout</a>
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.dropdown -->
        <% else %>
          <li class="nav-item"><a href="/login" class="nav-link"><button class="btn btn-info btn-md">Login</button></a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>